<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29A7D7822233E8BB00788DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A7D7992233E8C600788DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29A7D7A42233E8C600788DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
